body{
  margin: 0;
  /*background-image: url('../img/landsat_8_usgs.jpg');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; */
}

.site{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 600px 600px 500px;
  grid-template-areas:
    'st st st st st st'
    'mn mn mn mn mn mn'
    'cc cc cc cc cc cc';
  background-color: #fff;
}

.flex{
  display: flex;
  align-items: center;
}

/* Intro Pannel ----------------------------------------------*/
@font-face {
  font-family: Head;
  src: url('../img/BungeeOutline-Regular.ttf');
}

#intro h1{
  font-family: Head;
  color: white;
  position: relative;
}

#intro{
  grid-column: st;
}

#intro img{
  width: 100%;
  height: auto;
}

/* Main Pannel ----------------------------------------------*/

#main{
  grid-column: mn;
  background-color: #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'mp mp . . . . . .'
    '. . cc cc cc cc cc cc'
    'pn pn . . . . . .';
}

#map{
  grid-column: mp;
  grid-row: span 2;
}

#chapelhill{
  grid-column: pn;
}

#city-window{
  grid-column: 3/9;
  grid-row-start: 1;
  grid-row-end: 4;
}

#rural-window{
  grid-column: 3/9;
  grid-row-start: 1;
  grid-row-end: 4;
}

#coast-window{
  grid-column: 3/9;
  grid-row-start: 1;
  grid-row-end: 4;
}

#hydrograph{
  width: 80%;
  height: 30%;
}
/* Climate Change Pannel ----------------------------------------------*/

#end{
  grid-column: cc;
}
