body{
  margin: 0;
  /*background-image: url('../img/landsat_8_usgs.jpg');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat; */
}

.site{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 800px auto 70px;;
  grid-template-areas:
    'st st st st st st'
    'mn mn mn mn mn mn'
    'cc cc cc cc cc cc';
  background-color: #fff;
}

.flex{
  display: flex;
  align-items: center;
}

/* Intro Pannel ----------------------------------------------*/
@font-face {
  font-family: Head;
  src: url('../img/BungeeOutline-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../img/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-Thin;
  src: url('../img/Roboto/Roboto-Thin.ttf');
}


#intro{
  grid-column: st;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'mp mp mp mp mp mp mp mp'
    '. . . . . . . .'
    '. . . ti ti ti ti ti';
}

#open-title{
  grid-column: ti;
  grid-row: 3/4;
  padding: 45px;
  flex-direction:column;
  color: white;
}

#intro h1{
  font-family: Head;
  font-size: 57px;
  color: white;
  margin: 0;
  text-align: center;
}

#intro h2{
  font-family: Roboto-Thin;
  font-size: 30px;
  margin:0;
  text-transform: uppercase;
}

#intro h3{
  font-family: Roboto;
}

#intro h4{
  font-family: Roboto;
  text-align: justify;
  line-height: 1.3em;
}

#intro p{
  font-family: Roboto;
  text-align: right;
  font-size: 12px;
  color: #e0e0e0;
}

#open-map{
  grid-column: mp;
  grid-row: 1/4;
}

#intro img{
  width: 100%;
  height: auto;
}

/* Main Pannel ----------------------------------------------*/

#main{
  padding: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  grid-column: mn;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-image:url('../img/backk_0000_Layer-1.jpg');
  background-size: contain;
  background-position: center;
}

.first-letter {
  color: #4c2b41;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.content{
  grid-column: 2/5;
}

.subhead{
  font-family: Head;
  margin-top: 50px;
  text-align: left;
}
#main p{
  font-family: Roboto;
}

#landings{
  height: 500px;
  width: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#mapid{
  height: 500px;
  grid-column: 1/4;
  margin-top: 50px;
  margin-bottom: 50px;
}



h2{
  text-align:center;
}

#pano{
grid-column: 4/6;
height: 500px;
z-index: 1;
margin-top: 50px;
display: flex;
background-color: #f2f1ec;
}

.pano-text{
  flex-direction: column;
}

.pano-text img{
  width: 80%;
  height: auto;
  margin: auto;
}

.pano-text h1{
  font-family: Head;
  text-align: center;
  padding: 30px;
  padding-bottom: 0;
}

.pano-text p{
  text-align: justify;
  font-family: Roboto;
  padding-left: 30px;
  padding-right: 30px;
}

#pano1{
  grid-column: 4/6;
  height: 500px;
  z-index: 1;
  margin-top: 50px;
  display: none;
  background-color: #f2f1ec;
}

#pano2{
  grid-column: 4/6;
  height: 500px;
  z-index: 1;
  margin-top: 50px;
  display: none;
  background-color:#f2f1ec;

}

#pano3{
  grid-column: 4/6;
  height: 500px;
  z-index: 1;
  margin-top: 50px;
  display: none;
  background-color: #f2f1ec;

}


#footer{
  background-color: #276867;
  grid-column: 1/7;
}

/* Mobile ---------------------------------------------------------------*/
@media screen and (max-width:767px){

  .site{
    grid-template-rows: 600px 1300px 1fr;
  }

  #intro{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'mp mp mp mp mp mp mp mp'
      'ti ti ti ti ti ti ti ti';
      overflow: hidden;

  }

  #intro img{
    height: 600px;
    width: auto;
  }

  #open-title{
    grid-column: ti;
    grid-row: 1/4;
  }

  #intro h1{
    font-size: 40px;
    text-align: center;
  }

  #intro p{
    font-size: 10px;
    line-height: 1.3em;
  }

  #main{
    grid-template-areas:
      'mp mp mp mp mp mp mp mp'
      'cc cc cc cc cc cc cc cc';
  }

  #chapelhill, #pano{
    display: none;
  }

  .window-heading{
    grid-row: 1/2;
    font-family: Head;
    font-size: 20px;
    justify-content: center;
  }

  #city-window{
    padding-top: 15px;
    grid-column: cc;
    grid-row:2/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr;
  }

  #hydrograph{
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    height: auto;
  }

  #hy-text{
    grid-column: 1/4;
    grid-row: 2/3;
  }

  #hy-text-2{
    grid-column: 1/4;
    grid-row:4/5;
  }
  #rural-window{
    padding-top: 15px;
    grid-column: cc;
    grid-row:2/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr;
  }
  #coast-window{
    padding-top: 15px;
    grid-column: cc;
    grid-row:2/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr;
  }
  #dashboard_div{
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  #climate-change{
    display: none;
  }
  #cc{
    grid-column: 1/6;
  }
}
